.background-midnightblue {
	background-color: #19283f;
}

.background-blue {
	background-color: #33d1cc;
}

.background-aliceblue {
	background-color: #eff7fa;
}

.color-mainlyblue {
	color: #a8b9c0;
}

.color-lightblue {
	color: #f0f8fb;
}